body {
	background: #000 url('../../assets/images/matrix.jpg');
	background-repeat: repeat; /* no-repeat */
  background-size: cover; /* auto contain	*/
}
img  {width: 100%; height: auto;}
.bdr,
.rad {border-radius: 0.42em;}

.bg0 {background-color: #000;}
.bge {background-color: #eee;}
.bgl {background-color: lime;}
.bgo {background-color: #FBD789;}
.bgr {background-color: RED;}
.bgs {background-color: snow;}
.btn {padding: 0.21em 0.42em;}

.clb {clear: both;}
.dib {display: inline-block;}
.fgd {color: #ddd;}
.fgl {color: lime;}

.fgr {color: #a00;}

.fgy {color: #ff0;}
.fll {float: left; } .flr {float: right;}
.fsm {font-size: medium;}
.fss {font-size: small;} .fsS {font-size: x-small;}
.fsl {font-size: large;} .fsL {font-size: x-large;}
.fwb {font-weight: 700;}
.hhh {display: none;}

.lh2 {line-height: 2;}
.mga {margin: 0 auto;}
.mgt {margin-top: 4.2em;}

.p12 {padding: 0.21em;}
.p42 {padding: 0.42em;}
.poa {position: absolute; }
.por {position: relative; }


.tdn {text-decoration: none;}
.tac {text-align: center;} .tal {text-align: left;}
.tar {text-align: right;}
.txU {text-transform: uppercase;}

.w06 {width: 6px;}	
.w42 {width: 42%;}	
.w88 {width: 88%; max-width: 971px;}	
.w99 {width: 99%;}	

#menu-top {
	margin: -0.12em auto 0 ; 
	line-height: 0.2; 
	text-decoration: none;}
#menu-top li 	{
	display: inline-block; 
	margin: 0.1em  0.21em 0;  
	text-transform: capitalize;}
#menu-top li a:link  		{color: yellow; }
#menu-top li a:visited 	{color: aqua;}
#menu-top li a:hover 		{background-color: #aaa; color: #fff;}
#menu-top li a:active 	{color: snow;  }


#menu-left 			{width: 7.5em; margin: 0 ; padding: 0 0.42em 1em 0.42em; display: inline-block; list-style-type: none;}
#menu-left li 	{display: inline-block; display: block; }
#menu-left li a {color: lightgreen; text-decoration: none; text-transform: capitalize;}

#sidebar 			{width:8em;}
#sidebar li 	{display: inline-block;}

#rabbit				{z-index:21; vertical-align: middle; width: 22px;}
#dollar_sign 	{z-index:21;  width: 10px;}

	#middle {
		width: 88%; max-width: 971px; 
		margin: 4em auto;
		background-color: #000; color: #fff;
	}
	#content {
		position: relative;
		width: 88%; max-width: 971px; 
		margin: 0em auto;
		background-color: #FBD789; color: #000;
	}

	#conMenu {
		position: absolute; left: -8em; top:0; 
		width: 8em; 
		background-color: #000;	color: lime;	
	}
	#conSub {
		margin: 2em 0.8em 0;
		background-color:  #FBD789;	color: #000;	
	}
